<h1 class="title normal-title text-center"> รายละเอียดสินเชื่อ </h1>
<div class="row offer account-meta">
    <div class="col-lg-6">
        <p class="small">ID : {{profile.appId}}</p>
    </div>
    <div class="col-lg-6 text-right"><em class="small"> {{profile.loan_detail.saved_at_display}}</em></div>
</div>
<form name="form">
    <div class="form-info">
        <div class="item col-1 require">
            <div class="require">
                <h4 class="title ">ประเภทสินเชื่อ</h4>
                <select class="input-info" ng-model="profile.loan_detail.loanType" disabled>
                     <option value="">กรุณาเลือก</option>
                    <option>สินเชื่อเงินสด</option>
                    <option>บัตรกดเงินสด</option>
                </select>
            </div>
        </div>
        <div class="item offer col-1">
            <div class="require">
                <h4 class="title" ng-hide="profile.loan_detail.loanType == 'บัตรกดเงินสด'">จำนวนเงินที่ต้องการกู้​ (บาท)</h4>
                <h4 class="title" ng-show="profile.loan_detail.loanType == 'บัตรกดเงินสด'">วงเงินบัตรที่ต้องการ (บาท)</h4>
                <div class="row">
                    <div class="col-lg-8">
                        <input awnum num-thousand="true" num-int="8" type="text" class="input-info" ng-model="profile.loan_detail.loanAmount" disabled />
                    </div>
                    <div class="col-lg-4 text-right">
                        <h4 class="text-danger">สูงสุด 5 เท่าของรายได้ต่อเดือน</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-1 require" ng-hide="profile.loan_detail.loanType == 'บัตรกดเงินสด'">
            <div class="require">
                <h4 class="title">ระยะเวลาการกู้ (เดือน)</h4>
                <select class="input-info" ng-model="profile.loan_detail.loanTerm" disabled>
                     <option value="">กรุณาเลือก</option>
                    <option>6</option>
                    <option>12</option>
                    <option>18</option>
                    <option>24</option>
                    <option>30</option>
                    <option>36</option>
                    <option>42</option>
                    <option>48</option>
                    <option>54</option>
                    <option>60</option>
                </select>
            </div>
        </div>
        <div class="item col-1">
            <div>
                <h4 class="title">จุดประสงค์ในการกู้</h4>
                <select class="input-info" ng-model="profile.loan_detail.purpose" disabled>
                     <option value="">กรุณาเลือก</option>
				<option>ใช้จ่ายทั่วไป</option>
				<option>โอนหนี้บัตรเครดิต/สินเชื่อส่วนบุคคล</option>
			</select>
            </div>

        </div>
    </div>
</form>