
<div class="login">
<div>
	<div class="login-box">
<!--   <a href="#" class="logo">
  <img src="assets/img/logo-large.png" class="img-responsive" alt=""/>
  </a> -->
		<h1 class="title">เข้าสู่ระบบ</h1>
		<form class="login-form">
			<input type="text" class="form-control" ng-model="authCtrl.user.email" placeholder="อีเมล์แอดเดรส">
			<input type="password" class="form-control" ng-model="authCtrl.user.password" placeholder="รหัสผ่าน">
			<a class="btn -blue -round" type="submit" href="javascript:void(0)" ng-click="authCtrl.login()">เข้าสู่ระบบ</a>
		</form>
		<!-- <h4>ลืมรหัสผ่าน <a href="password.html">คลิกที่นี่</a></h4>
		<h4>ยังไม่เคยสมัครกู้ <a href="apply.html">คลิกที่นี่</a></h4> -->
	</div>
</div>
</div>
