
<div class="login">
<div>
	<div class="login-box">
  <!-- <a href="#" class="logo"><img src="assets/img/logo-large.png" class="img-responsive" alt=""/></a> -->
		<h1 class="title">สมัครกู้ครั้งแรก</h1>
		<form class="login-form" >
			<input type="email" class="form-control" placeholder="อีเมล์แอดเดรส" ng-model="authCtrl.user.email">
			<input type="password" class="form-control" placeholder="รหัสผ่าน" ng-model="authCtrl.user.password">
			<a class="btn -blue -round" type="submit" href="javascript:void(0)" ng-click="authCtrl.register()"> สมัคร </a>
		</form>
		<!-- <h4>เคยสมัครกู้แล้ว? <a href="login.html">คลิกที่นี่</a></h4> -->
	</div>
</div>
</div>
