@import url(normalize.css);
@import url(fonts.css);

.form-info.offer>.item>div.require:after{content:'*';position:absolute;top:0;right:0;padding:10px;color:red;font-size:30px;line-height:1}
.form-info.offer>.item .title{color:#666;margin:0}
.form-info.offer>.item .input-info{border:0.5px solid #DDD;width:100%;font:400 normal 24px 'Helvethaica';background:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.form-info.offer>.item textarea.input-info{overflow:hidden;text-align:left; padding-left:5px;}
.form-info.offer>.item select.input-info{background:url(../img/select-arrow-down) 100% 50% no-repeat}
.form-info.offer>.item select.input-info option{font-family:'Helvethaica';font-size:18px !important}
.toggle-wrapper.offer{display:none}
.toggle-button.offer{width:100%;padding:15px;background:#666;font-size:24px;padding:15px;color:#FFF;margin-bottom:30px}
.bureau-accept.offer{padding:50px 100px !important}
.bureau-accept .checkbox.offer{text-align:left;font:400 normal 24px 'Helvethaica'}
.accept-button.offer{display:inline-block;padding:10px 15px 10px 45px;border-radius:5px;border:solid 2px #22a5e1;font:400 normal 24px 'Helvethaica';position:relative;border-radius:3px;text-decoration:none !important}
.accept-button.offer:hover{background:#22a5e1;color:#FFF}
.accept-button.offer:before{display:block;width:20px;height:20px;border:solid 2px #22a5e1;position:absolute;margin:auto;right:auto;top:0;bottom:0;left:10px;content:'';border-radius:3px;background:#FFF;transition:0.2s linear}
.accept-button.offer:after{display:block;width:100%;height:100%;border:solid 2px #22a5e1;position:absolute;top:0;left:0px;content:'';background:url(../img/icon-checked.png) 10% 50% no-repeat;background-size:30%;-webkit-transform-origin:15% 50%;-ms-transform-origin:15% 50%;transform-origin:15% 50%;transition:0.2s linear;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.accept-button.offer.accepted{background:#22a5e1;color:#FFF}
.accept-button.offer.accepted:before{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.accept-button.offer.accepted:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.waiting-for-accept.offer{background:#ccc;color:#FFF}
.waiting-for-accept.offer.accepted{background:#5cb85c;border-color:#4cae4c;color:#FFF}
#cboxContent{border-radius:10px;text-align:center;padding:20px}
.loan-calc.offer>.item{width:100%;display:block;float:left;border-radius:10px;padding:20px}
.loan-calc.offer>.item+.item{margin-left:4%}
.loan-calc.offer>.item .title{margin:0}
.loan-calc.offer>.item .amount{margin:0;font-size:48px}
.loan-calc.offer>.item.limit{border:3px solid #9ebf66}
.loan-calc.offer>.item.limit .amount{color:#9ebf66}
.loan-calc.offer>.item.period{border:3px solid #ffa157}
.loan-calc.offer>.item.period .amount{color:#ffa157}
.table-display.offer{font-family:'Helvethaica'}
.table-display.offer>.row{border-bottom:solid 1px #DDD;padding:5px 0}
.table-display.offer>.row.thead{color:#666}
.table-display.offer .accepted{color:#66c366}
.table-display.offer .declined{color:red}
.online-chat.offer{width:200px;height:200px;background:#ff6136;border-radius:5px 0 0 5px;position:absolute;right:-150px;left:auto;margin:auto;top:0;bottom:0;transition:0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)}
.online-chat.offer.active{right:-20px}
.online-chat.offer>.title{position:absolute;bottom:45%;left:-40px;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);text-align:center;color:#FFF;margin:0}
.bank-list.offer{padding:0;margin:0;list-style:none;text-align:center}
.bank-list.offer>li{width:30%;display:inline-block;margin-right:-4px;margin-bottom:3%}
.bank-list.offer>li:not(:nth-child(3n)){margin-right:2%}
.bank-list.offer input[type="checkbox"]{display:none}
.bank-list.offer label{cursor:pointer;width:100%;height:75px;border:solid 2px #DDD;border-radius:5px;position:relative;margin:0;overflow:hidden}
.bank-list.offer label img{max-width:100%;height:auto}
.bank-list.offer input[type="checkbox"]:checked+label{border-color:#9cdd57}
.bank-list.offer input[type="checkbox"]:checked+label:after{display:block;content:'';width:15px;height:15px;position:absolute;margin:auto;right:0;left:0;bottom:5px;top:auto;background:url(../img/icon-checked.png) center center no-repeat;background-size:contain}

.compare-item.offer{box-shadow:0px 0px 10px rgba(0,0,0,0.2);overflow:hidden;margin:30px 0}
.compare-item.offer .logo{width:100%;margin-bottom:25px}
.compare-item.offer .logo img{max-width:100%;height:auto}
.compare-item.offer .padding{padding:10px}
.compare-item.offer .table{margin:0}
.compare-item.offer .number{margin:0;font-size:36px}
.compare-item.offer .desc{font:400 normal 18px 'Helvethaica';color:#999}
.compare-item.offer .btn{display:block;text-align:center;font:400 normal 18px 'Helvethaica';color:#666;border-top:solid 1px #DDD;border-radius:0;width:50%;float:left;height:48px;line-height:38px;box-shadow:none}
.compare-item.offer .btn.-loandetail{background:white;color:#666;border-top:solid 1px #DDD;width:75%}
.compare-item.offer .expand-info{display:none}
.compare-item.offer .expand-info.show{display:block}
.btn.offer{font-family:'Helvethaica'}
.btn.offer.-blue{background:#22a5e1;color:#FFF}
.btn.offer.-round{border-radius:25px}


.btn.offer.-loaninterest{background:#337ab7;color:#FFF;border:none;width:25%;font-size:2.3rem;font-family:'Helvethaica';}
.btn.offer.-loaninterest.selected{background:#5cb85c;color:#FFF;border:none;width:25%;font-size:2.3rem;font-family:'Helvethaica';}
.compare-item.offer .btn.offer.-loancheck{background:#22a5e1;color:#FFF;border:none; width:10%;}
.compare-item.offer .btn.offer.-loandetailsub{background:#EEE;color:#666;border:none;width:20%;}
.compare-item.offer .expand-info{display:none}
.compare-item.offer .btn.offer.-loandetailsub.selected{background:#FFF;color:#22a5e1;border:none;width:20%;height:63px;}

.select-loan.offer input[type="checkbox"]{display:none}
.select-loan.offer label{cursor:pointer;width:44px;height:44px;border:none;position:relative;margin:0;overflow:hidden; vertical-align: middle;}
.select-loan.offer label img{max-width:100%;height:auto}
.select-loan.offer input[type="checkbox"]:checked+label{border-color:#9cdd57}
.select-loan.offer input[type="checkbox"]:checked+label:after{display:block;content:'';width:15px;height:15px;position:absolute;margin:auto;right:0;left:0;bottom:5px;top:auto;background:url(../img/icon-checked.png) center center no-repeat;background-size:contain}

.list-unstyled.loandetail{
  padding-left:50px;
}
p{font:400 normal 18px 'Helvethaica';}

.compare-item.offer .btn.check{width:auto;height:40px;}
.form-control{font-size:2rem;font-family:'Helvethaica';}
.form-info.offer{font-size:2rem;font-family:'Helvethaica'; border:none;}

/*.form-info.offer{border:solid 1px #DDD;border-radius:5px;margin-bottom:30px}*/

.form-info.offer>.item{position:relative}
/*.form-info.offer>.item+.item{border-top:solid 1px #DDD}
*/
.form-info.offer>.item.col-2>div{width:50%;float:left}
/*.form-info.offer>.item.col-2>div+div{border-left:solid 1px #DDD}
*/
.form-info.offer>.item.col-3>div{width:33.33%;float:left}
/*.form-info.offer>.item.col-3>div+div{border-left:solid 1px #DDD}
*/
.form-info.offer>.item.col-4>div{width:25%;float:left}
/*.form-info.offer>.item.col-4>div+div{border-left:solid 1px #DDD}
*/
.form-info.offer>.item>div{padding:10px;position:relative}
.form-info.offer>.item{border:none;position:relative}

.table.offer>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px 8px 3px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.responsive-container {
    position: relative;
    width: 100%;
    border: 1px solid black;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.collapse-box{padding-bottom:10px}
.collapse-box+.collapse-box{border-top:solid 1px #ddd}
.collapse-box .collapse-head{color:#22a5e1;cursor:pointer;background:url(../img/arrow-up.png) right center no-repeat}
.collapse-box .collapse-head.collapsed{background:url(../img/arrow-down.png) right center no-repeat}
.collapse-box .collapse-body{overflow:hidden}
.collapse-box .btn.offer{display:block;width:100%;font-size:18px;font-weight:normal}
.collapse-box p{font-size:18px;font-family:'Helvethaica';color:#999}


.btn.offer > a{
    text-decoration: none;
    color: inherit;
}



